%p#notice 
  = notice 

%p
  %strong
  Name:
  = @piece.name

%p
  %strong Description:
  = @piece.description 

%p
  %strong Gallery:
  = @piece.gallery.name

%p
  %strong Image:
  = image_tag @piece.image.url 

%p
  %strong Image(thumb):
  = image_tag @piece.image.url(:thumb) 

- content_for :admin_menu do
  %li Piece:
  %li= link_to 'Edit', edit_piece_path(@piece)
