
%p
  %strong 
    = "Name: #{@gallery.name}"

%p
  %strong 
    = "Description: #{@gallery.description}"

%p
  %ul.thumbs
    - @gallery.pieces.each do |piece|
      %li
        = link_to piece do
          = image_tag piece.image.url(:thumb) 
          %br
          = piece.name 
  
- content_for :admin_menu do  
  %li Gallery:
  %li= link_to 'Edit', edit_gallery_path(@gallery) 
  %li= link_to 'Destroy', @gallery, method: :delete, data: { confirm: 'Are you sure?' } 

