!!!
%head
  = render 'layouts/head'
%body
  %noscript
    #noscript_warning This site works best with JavaScript enabled. Some features may not be available
  .container
    .row
      .span5.offset1
        = image_tag 'logo.png'
      .span5
        = render 'layouts/contact'

    - [:success, :notice, :alert, :error].each do |f|
      - if flash[f]
        .flash{ class: "flash-#{f}" }
          = flash[f]

    - if signed_in?
      = render 'layouts/admin_menu'

    .row
      #player.span3.offset1
        = render 'galleries/player'
      #chooser.span7
        = render 'galleries/chooser'  
    .row
      .span3.offset1
        %ul.thumbnails
          = render 'galleries/thumbnails'
      #image-display.span7
        = yield 
