!!!
%head
  = render 'layouts/head'
%body
  %noscript
    #noscript_warning This site works best with JavaScript enabled. Some features may not be available
  = image_tag 'logo.png'
  - [:success, :notice, :alert, :error].each do |f|
    - if flash[f]
      .flash{ class: "flash-#{f}" }
        = flash[f]
  - if signed_in?
    %ul.textmenu
      %li Admin Menu:
      %li= link_to 'Sign Out', signout_path, method: "delete"
      %li= link_to 'New Gallery', new_gallery_path
      %li= link_to 'New Piece', new_piece_path 
      %li= link_to 'Pieces', pieces_path 
      = yield :admin_menu
    %br

  = render 'galleries/chooser'
  = yield 

